
  body {
    background-image: url('virtual.jpg');
  }

.form-register {
    width: 400px;
    background: #5ce401;
    padding: 30px;
    margin: auto;
    margin-top: 0px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(255, 255, 255);
    box-shadow: 7px 13px 37px #000;
}

.form-register h1 {
    font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}
  
.form-register h4 {
    font-size: 18px;
  margin-bottom: 20px;
}
